/* Common atributes of the body */
body {
  font-family: Verdana, sans-serif;
  background-color: Black;
  text-align: center;
  color: White;
}

h1 {
  font-size: 50px;
}

.link {
  color: Aquamarine;
  font-size: 16px;
}
